parameters:
    level: 8

    paths:
        - src
        - tests

    ignoreErrors:
        # this package relies havily on the file analyse
        - '#(Calling|Extending|) (.*?) is not covered by backward compatibility promise#'